user nginx;
worker_processes auto;

events {
    worker_connections 1024;
}

http {

    server {

        listen {{ nginx_port }};

        server_name _;

        location / {
            return 200 "Managed by Ansible AWX\n";
        }
    }
}
